.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/*修改日期样式*/
.ant-calendar-picker{
  margin: 3px;
}
.ant-input{
  border-radius: 5px;
  border-color: #ccc;
}
/*修改日期样式*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
